<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iteration Expression</title>
</head>
<body>
    <p>Iteration Expression</p>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p,iter:${people}"> 
            <th scope="row" th:text="${iter.index+1}">1</th>
            <td th:text="${p.id}">1</td>
            <td th:text="${p.name}">Mark</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>